header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pricingToggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1rem;
  color: var(--gray-400);
}

.radioToggle,
.toggleCheckbox {
  display: none;
}

.toggleSwitch {
  display: flex;
  width: clamp(2.8rem, 7vw, 3.5rem);

  border-radius: 2rem;
  padding: 0.25rem;
  background: var(--gradient);
}

.toggleBall {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--blue-50);
}

.pricingToggle:has(.radioMonthly:checked) .toggleSwitch {
  justify-content: flex-end;
}

.pricingToggle:has(.radioAnnually:checked) .toggleSwitch {
  justify-content: flex-start;
}

/* hover effects */
.toggleSwitch:hover {
  cursor: pointer;
  background: var(--gradient-hover);
}


@media (min-width: 64rem) {
  .toggleSwitch {
    height: 2rem;
  }
}