* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

:root {
  --blue-50: hsl(240, 78%, 98%);
  --gray-400: hsl(245, 12%, 79%);
  --gray-500: rgba(128, 128, 128, 0.247);
  --gray-650: hsl(234, 13%, 49%);
  --gray-700: hsl(232, 13%, 33%);
  --card-bg: hsl(0, 0%, 100%);

  --gradient: linear-gradient(
    135deg,
    hsl(237, 73%, 79%),
    hsl(238, 63%, 64%)
  );

  --fw-regular: 400;
  --fw-bold: 700;

  --card-corners: 0.5rem;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

body {
  background-color: var(--blue-50);
  background-image: url('assets/images/bg-top.svg'), url('assets/images/bg-bottom.svg');
  background-position: top -1.7rem right -11.2rem, bottom left; 
  background-repeat: no-repeat, no-repeat;      
  background-size: clamp(22rem, 50vw, 40rem), clamp(22rem, 50vw, 40rem);                  
}

.main-container {
  color: var(--gray-650);
  font-weight: var(--fw-bold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4.5rem 1rem;
}

